.Portfolio {
  margin-top: 40px;
  /* background-color: #181818; */
  background: #c21500;
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);
  background: linear-gradient(to right, #ffc500, #c21500);
  margin-bottom: 20px;
}
.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Card {
  margin-top: 15px;
  color: #ffc500;
  background-color: #181818;
}
.Card Button {
  background-color: #c21500;
  border-color: white;
  border-radius: 10px;
}

.Container Button:hover {
  background-color: rgb(46, 44, 44);
  border-color: #ffc500;
}
