.Container {
  display: flex;
  position: relative;
  /* only applies to title because horizontal rule  */
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}

.Container hr {
  position: absolute;
  left: 0;
  width: 124px;
  border: 1px solid #ffc500;
}

.Container h1 {
  color: white;
}
