.Home {
  margin-top: 40px;
  background: #c21500;
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);
  background: linear-gradient(to right, #ffc500, #c21500);

  display: flex;
  height: 750px;
  padding-top: 90px;
  position: relative;
}
.Home .Container {
  position: absolute;
  /* lowers content */
  top: 15%;
  left: 2%;
  color: #c21500;
}

.Home .Container .Hello {
  font-size: 63px;
}

.Home .container h1 {
  margin: 0;
  color: #c21500;
}

.Home .computer {
  height: 70%;
  position: absolute;
  right: 0%;
  right: 10%;
  top: 20%;
}
.Home .code {
  position: absolute;
  height: 25%;
  bottom: 0;
  left: 2%;
}
