.Contact {
  background-color: #181818;
  color: #ffc500;
}

.EntireForm {
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
}
.Button {
  background-color: #c21500;
  border-color: white;
  border-radius: 10px;
}
